* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    background: linear-gradient(rgb(0, 0, 0), black), url('https://images.unsplash.com/photo-1529854140025-25995121f16f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2670&q=80');
    background-blend-mode: saturation;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    /* font-family: 'Karla', sans-serif; */
    font-family: 'Inconsolata', monospace;
    cursor: url("media/cursor-pointer-darth-vader.png"), auto;
}

.message-for-mobile {
    display: none;
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
}

a:hover {
    cursor: url("media/cursor-pointer-darth-vader-white.png"), auto;
}

/* LOGO */
nav img {
    width: 80px;
    position: fixed;
    top: 15px;
    left: 15px;
    background: #00000045;
    padding: 12px;
    border-radius: 50%;
}

/* ANIMATION */
.animation {
    width: 50px;
    height: 50px;
    border-radius: 100%;
    z-index: 0;
    animation-name: 'animazione';
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

/* BOXES INTERNAL STRUCTURE */
.box1,
.box2 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.box3 {
    display: flex;
    justify-content: start;
    align-items: flex-end;
}

.box4 {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

.box6 {
    display: flex;
    justify-content: center;
}

.box7 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.box8,
.box9 {
    display: flex;
    justify-content: end;
    align-items: center;
}

/* BOXES */
.box1,
.box2,
.box3,
.box4,
.box5,
.box6,
.box7,
.box8,
.box9 {
    position: fixed;
    z-index: 1;
}

.box1 {
    width: 30vw;
    height: 500px;
    background: rgba(255, 0, 255, 0.7);
    top: 0;
    left: 20%;
    /* margin-top: -470px; */
    transition: 0.3s;
    color: #fff;
}

.box2 {
    width: 30vw;
    height: 500px;
    background: rgba(229, 255, 0, 0.7);
    top: 0;
    left: 60%;
    margin-top: -470px;
    transition: 0.3s;
}

.box3 {
    width: 350px;
    height: 350px;
    background: rgba(0, 0, 0, 0.7);
    border-left: 1px solid #fff;
    border-bottom: 1px solid #fff;
    right: 0;
    top: 0;
    margin-right: -320px;
    margin-top: -220px;
    transition: 0.3s;
}

.box4 {
    width: 70vw;
    height: 50%;
    background: rgba(255, 192, 203, 0.7);
    right: 0;
    top: 28%;
    margin-right: -64%;
    transition: 0.3s;
}

.box5 {
    width: 450px;
    height: 500px;
    background-color: rgba(0, 250, 154, 0.7);
    bottom: 0;
    right: 0;
    border-top-left-radius: 100%;
    transition: 0.8s;
    margin-bottom: -400px;
    margin-right: -100px;
    z-index: 3;
}

.box6 {
    width: 30vw;
    height: 500px;
    background-color: rgba(78, 41, 244, 0.7);
    bottom: 0;
    left: 25%;
    margin-bottom: -470px;
    transition: 0.3s;
}

.box7 {
    width: 150px;
    height: 500px;
    background: rgba(255, 0, 0, 0.7);
    bottom: 0;
    left: 0;
    margin-bottom: -470px;
    margin-left: -50px;
    transition: 0.8s;
    z-index: 2;
}

.box8 {
    width: 80vw;
    height: 350px;
    background: rgba(43, 226, 220, 0.7);
    left: 0;
    top: 40%;
    margin-left: -74vw;
    transition: 0.3s;
}

.box9 {
    width: 480px;
    height: 150px;
    background: rgba(255, 166, 0, 0.7);
    border: 1px solid #000;
    border-left: none;
    left: 0;
    top: 15%;
    margin-left: -450px;
    transition: 0.3s;
}

/* BOXES HOVER */
.box1:hover,
.box2:hover,
.box3:hover {
    margin-top: 0;
    transition: 0.8s;
}

.box1:hover {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border: 2px dotted white;
    border-top: none;
}

.box2:hover {
    border: 1px solid #000;
    border-top: none;
}

.box3:hover,
.box4:hover {
    margin-right: 0px;
    transition: 0.8s;
    border: 0;
}

.box4:hover {
    border-bottom-left-radius: 90%;
    border: 1px solid rgb(221, 255, 0);
    border-right: none;
}

.box5:hover {
    margin-bottom: 0px;
    margin-right: 0px;
    border-top-left-radius: 0;
    transition: 0.8s;
    border-top: 1px solid #000;
    border-left: 1px solid #000;
}

.box6:hover {
    margin-bottom: 0px;
    transition: 0.8s;
    border: 1px solid rgb(255, 0, 255);
    border-bottom: none;
    border-top-left-radius: 35%;
    border-top-right-radius: 35%;
}

.box7:hover {
    margin-bottom: 0px;
    margin-left: 0px;
    transition: 0.8s;
    border-top: 1px solid rgb(221, 255, 0);
    border-right: 1px solid rgb(221, 255, 0);
}

.box8:hover {
    margin-left: 0;
    border: 1px solid #000;
    border-left: none;
    transition: 0.8s;
}

.box9:hover {
    margin-left: 0px;
    transition: 0.8s;
    border: none;
}

/* TITOLI BOX */

.box5 h2 {
    color: white;
}

.box3 h2 {
    color: rgb(255, 0, 0);
}

.box4 h2 {
    color: rgb(221, 255, 0);
}

.box6 h2 {
    color: rgb(255, 0, 255);
}

.box7 h2 {
    color: rgb(221, 255, 0);
}

.box9 h2 {
    text-transform: none;
}

.card-title {
    margin-bottom: 0px;
    font-size: 25px;
    text-transform: uppercase;
}



/* INTERNAL BOXES */

.box-body {
    width: 100%;
    border-bottom: 1px solid rgba(255, 255, 255, 0.366);
}

.box-header {
    height: 8%;
    display: flex;
    justify-content: center;
}

.box-body {
    height: 67%;
}

.box-label {
    height: 25%;
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: center;
}

.box-social {
    width: 50px;
    height: 50px;
    margin: 10px;
    border: 1px solid black;
    background: rgba(221, 255, 255, 0.4);
    transition: 0.3s;
}

.box-social img {
    width: 50px;
}

.box-social:hover {
    transform: scale(1.1);
    transition: 0.1s;
}

/* TEXT CARD */
.vertical-text {
    font-size: 25px;
    writing-mode: vertical-rl;
    text-orientation: upright;
    text-transform: uppercase;
    letter-spacing: -2px;
    margin-bottom: 8px;
}

.title-position-right {
    position: fixed;
    bottom: 0;
    right: 10px;
}

.title-position-left {
    position: fixed;
    bottom: 0;
    left: 10px;
}

/* LOGO & IMAGE */

.img-profile {
    position: absolute;
    bottom: 30px;
    width: 80px;
    border-radius: 100%;
}

.logo-box{
    width: 50px;
    border: 1px solid #fff;
    border-radius: 100%;
}

.agata,
.ester {
    position: absolute;
    bottom: 0;
}


/* ANIMAZIONE */

@keyframes animazione {

    0% {
        border: 1px solid black;
    }

    20% {
        border-radius: 0%;
        border: 1px solid rgb(234, 255, 0);
    }

    50% {
        width: 250px;
        height: 250px;
        border-radius: 0%;
        transform: rotate(-360deg);
        background-color: rgba(0, 0, 0, 0.4);
        border: 1px solid rgb(255, 0, 0);
    }

    60% {
        border: 1px solid rgb(0, 250, 154);
    }

    75% {
        background-color: rgba(255, 255, 255, 0.4);
        border: 1px solid rgb(0, 4, 255);
    }

    80% {
        border-radius: 0%;
        border: 1px solid rgb(255, 166, 0);
    }

    100% {
        transform: rotate(360deg);
        border: 1px solid black;
        border-radius: 50%;
    }

}


/* MEDIA QUERY */

/* BOX */
@media screen and (max-width:768px) {

    body {
        background: black;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    main,
    nav {
        display: none;
    }

    .message-for-mobile {
        display: block;
        color: white;
        text-align: center;
        margin: 0 60px;
    }

    .img-not-visible {
        width: 70px;
        margin-bottom: 30px;
        border-top-right-radius: 20px;
        border-bottom-left-radius: 20px;
    }

}